<div class="container-fluid">

    <!-- ######### Empty row ######### -->
    <div class="row  w-50 p-3"></div>
  
    <!-- ######### First row ######### -->
    <div class="row">
  
    
    <div class="card-deck">
      
        <div *ngFor="let name of planetName;let i=index" class="col-lg-3 col-md-6">
          
            <div class="card shadow border-secondary mb-3 w-100">
                <div>
                  <img class="card-img-top" src="{{planetImage[i]}}" alt="Jupiter" id="img1" >
                </div>
                
                <div class="card-body ">
                      
                        <h4 class="card-title text-info">Qui suis-je ?</h4>
                        <p class="card-text">{{planetEnigme[name][0]}}</p>
                        <p class="card-text">{{planetEnigme[name][1]}}</p>
                        <p class="card-text">{{planetEnigme[name][2]}}</p>
                      
                </div> 
                    <div class="card-footer justify-content-center">
                     
                      <div class="input-group mb-3">
                        
                            <input type="text" class="form-control" placeholder="Enter your answer here" aria-label="Recipient's username" aria-describedby="button-addon2">
                              
                        
  
                       
                            <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" id="button-addon2">Validate</button>
                            </div>   
                              
                          </div>
  
                              <div>
                              <!-- Button trigger modal -->
                                  <button type="button" class="btn btn-outline-secondary  btn-block" data-toggle="modal" data-target="#modEarth" >
                                  
                                  Need infos?
                                  </button>
                              </div>
                    </div>
                            <!-- <app-modal></app-modal> -->
                        
              </div>
           </div>  
  
      
      
      
        
                            
  
  </div>
  </div>
</div>
