 <!--  Jumbotron -->

<div class="container">
   <div class="jumbotron text-white vertical-center">
    <div class="container text-center">
      <h1 class="display-4 top-text">Become a space expert </h1>
      <p class="display-5 middle-text">Test your knowledge about space</p>
      <p class="display-5  middle-text">Ludic learning environment.</p>
      <p class="lead rounded">
        <a class="btn btn-round-lg" routerLink="/game" role="button"> 
          <img src="https://media.giphy.com/media/26zyYdiV4pdZZUWEU/giphy.gif"/></a> 
        
          
        </p>
    </div>  
  </div>
</div>