 <!--  Jumbotron -->

<div class="container">
   <div class="jumbotron text-white vertical-center">
    <div class="container text-center">
      <h1 class="display-4 top-text">Become a space expert </h1> <!-- Text afficher sur le jumbotron sur la home page-->
      <p class="display-5 middle-text">Test your knowledge about space</p>
      <p class="display-5  middle-text">Ludic learning environment.</p>
      <p class="lead rounded"></p>
      
      <div class ="responsive-button">
        <div class="row justify-content-center">
          
            <a class="btn  btn-round-lg" routerLink="/game" role="button">
              <p class ="text-game">PLAY NOW !</p>
           <img class ="str-gif img-fluid "src="https://media.giphy.com/media/26zyYdiV4pdZZUWEU/giphy.gif"/></a>
          
        </div>
      </div>
           
    </div>  
  </div>
</div>