*{
    font-family: 'Kodchasan', sans-serif;
}
.salutoss{
    height:3em;
    width:12em;
}
.jdg{
    margin-right: 15%;
}
.dede{
    color:white;
    font-size: 1.5em;
}
.toto{
    color:orange;
    font-weight: bold;
}
.momo{
    color:white;
    font-size: 1.5em;
}
.astro{
    margin: 0em 0.5em 0em 2.5em;
}
.navbar-default .navbar-nav .li.dropdown:hover .a, 
.navbar-default .navbar-nav .li.dropdown:hover .a:hover,
.navbar-default .navbar-nav .li.dropdown:hover .a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover .dropdown-menu {
    display: block;
}

