<nav class="navbar navbar-expand-lg navbar-light">
     
        <ul class="navbar-nav  my-6">
            <li class="nav-item">
                <a class="nav-link text-white text-log-top pb-0" href="#"> Star Trek Who Am I</a>
               
            </li>
        </ul>
       
        
        <div class="collapse navbar-collapse nav-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav  mx-auto">
                


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PLANET
                      </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a *ngFor="let name of list;let i=index" class="dropdown-item"  data-toggle="modal" [attr.data-target]="'#' + name.name" href="#">{{name.name}}</a>
                        
                      </div>
                      <app-modal></app-modal>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> SATELLITES </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a *ngFor="let planName of planetName;let i=index" class="dropdown-item" href="#">{{planName}}({{planetSatellite[i]}})</a>

                        <app-modal></app-modal>

                      </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " href="#">MYTHS</a>
                </li>
            
          </ul>
        </div>
       
    
  </nav>

  