h1{
    color:white;
	text-shadow: 0 0 5px white, 0 0 10px lightgray, 0 0 20px white, 0 0 30px #ff8800, 0 0 40px #ff8800, 0 0 55px #ff8800, 0 0 70px #ff8800;
	text-align: center;
	vertical-align: middle;
	padding: 8px;
	margin: 100px;
	font-family: 'Notable', sans-serif;
	
}

p{
	font-family: 'Galada', cursive;
}
#heading{
	background: linear-gradient(lightgray, whitesmoke);
}